<!-- Main Content -->
<div class="main-content">
	<div class="container">
        <%= render 'form' %>
        <%= link_to 'Show', @product %> |
		<%= link_to 'Back', products_path %>
                        
    </div>
</div>
